@font-face {
  font-family: 'Square721 BdEx BT';
  src: url('square721-bdex-bt-bold.eot'); /* IE9 Compat Modes */
  src: url('square721-bdex-bt-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('square721-bdex-bt-bold.woff') format('woff'), /* Modern Browsers */
       url('square721-bdex-bt-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('square721-bdex-bt-bold.svg#055d5469f7bae20fed169a781d5e1686') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

