.boxed {
  article {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 0 $padding;
    @media only screen and (min-width: 450px) {
      width: 31%;
      margin-right: 2%;
    }
  }
    
  article a {
    display: block;
    padding: 0;
    background: #fff;
    text-decoration: none;
  }
  
  article img {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
  }
  
  article .small-details {
    padding: 0.7*$padding 0.5*$padding;
    b {
      margin: 0; padding:0;
      color: $primary-color; 
      font-family: $heading-text;
    }
    
    position:relative;
    
    &:after {
      font-family: 'entypo', sans-serif;
      content:'\E766';
      color: $primary-color;
      position: absolute;
      right: 12px;
      top: 0.5*$padding;
      font-size: 1.5em;
      @include transition-duration(0.3s);
    }
     
  } 
  
  article a:hover .small-details:after {
    right: 6px;
  }
}