// General Style used accross the site

.module {
  background: #fff;
  padding: $padding;
  position: relative;
}

.contact-buttons {

}

.single-talent .contact-buttons {
  float:right;
  width:50%;
  margin: 0 0 $padding $padding;
}